body{
    padding: 0px;
    margin: 0px;
    background: #e1e1e1;
}

.header{
    background: rgba(0, 0, 0, 0.9);
    padding: 6px 24px;
    text-align: left;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;
}

.menu{
    background: teal;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 8px 0;
    border-bottom: 2px solid #ddd;
}

.menu a{
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover{
    background: rgba(0,0,0,0.3);
    border-radius: none;
}

.video-container {
    position: relative;
    top: 0;
    cursor: pointer;
}

.video-container iframe {
    width: 100%;
    height: 90vh;
    border: none;
}

.content {
    padding: 0px 24px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    border-radius: 10px;
    margin-top: 20px;
}